__pycache__
venv/
.env
Dockerfile
.dockerignore
.pytest_cache
Procfile
nginx
gunicorn.service

*.pyc
__pycache__/
*.log
instance/

.pytest_cache/
.coverage
htmlcov/
.env
.flaskenv
dist/
build/
*.egg-info/
.vscode
toDo.md
